<div class="container">
    <h2>{{title}}</h2>
    <form #companyInfo="ngForm" (ngSubmit)="onSubmit(companyInfo)">
        <label for=" IdentificationType ">Tipo de Identificación:</label>
        <select name="IdentificationType" #IdentificationType="ngModel" [(ngModel)]="company.identificationType" required>
          <option value="Nit" selected="selected">Persona Juridíca</option>
          <option value="Natural">Persona Natural</option>
          <option value="Extranjera">Identificación Extranjera</option>
        </select>
        <span class="formError" *ngIf="IdentificationType.touched && !IdentificationType.valid">El tipo de Identificación es obligatorio</span>

        <label for="NitInput">Numero de Identificación:</label>
        <input type="text" name="NitInput" #NitInput="ngModel" [(ngModel)]="company.identificationNumber" appInputValidator required>
        <span class="formError" *ngIf="NitInput.touched && !NitInput.valid">El Nit es obligatorio</span>

        <div *ngIf="company.identificationType=='Nit' ||company.identificationType=='Extranjera'">
            <label for="companyName">Nombre de la Compañia</label>
            <input type="text" name="companyName" #companyName="ngModel" [(ngModel)]="company.companyName" appOnlyText required>
            <span class="formError" *ngIf="companyName.touched && !companyName.valid">El nombre de la compañia es obligatorio</span>
        </div>

        <div *ngIf="company.identificationType!='Nit' && company.identificationType!='Extranjera'">
            <label for="firstName">Primer Nombre</label>
            <input type="text" name="firstName" #firstName="ngModel" [(ngModel)]="company.firstName" appOnlyText required>
            <span class="formError" *ngIf="firstName.touched && !firstName.valid">El nombre de la persona natural es obligatorio</span>

            <label for="secondName">Segundo Nombre</label>
            <input type="text" name="secondName" #secondName="ngModel" [(ngModel)]="company.secondName" appOnlyText>

            <label for="firstLastName">Primer apellido</label>
            <input type="text" name="firstLastName" #firstLastName="ngModel" [(ngModel)]="company.firstLastName" appOnlyText required>
            <span class="formError" *ngIf="firstName.touched && !firstName.valid">El primer apellido de la persona natural es obligatorio</span>

            <label for="secondLastName">Segundo apellido</label>
            <input type="text" name="secondLastName" #SecondLastName="ngModel" [(ngModel)]="company.secondLastName" appOnlyText>
        </div>

        <label for="email">Dirección de correo electronico</label>
        <input type="email" id="email" name="email" #email="ngModel" [(ngModel)]="company.email" [email]="true" required>
        <span class="formError" *ngIf="email.touched && !email.valid">El correo de la compañia es obligatorio y debe tener el formato correcto</span>
        <span class="formError" *ngIf="errorEmail!=''">{{errorEmail}}</span>

        <app-radio [title]="titleSms" [myValue]="smsOption" [radioName]="smsOptionName" (sendBindingState)="loadSmsOption($event)"></app-radio>
        <app-radio [title]="titleEmail" [myValue]="emailOption" [radioName]="emailOptionName" (sendBindingState)="loadEmailOption($event)"></app-radio>

        <p>
            <input type="submit" class="button-confirm" value="Continuar" [disabled]="!companyInfo.form.valid && this.errorEmail==''">
            <button class="button-back">Regresar</button>
        </p>
    </form>
</div>